<a href="https://colab.research.google.com/github/97515/Assignment/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 1**

**1. List , Dictionary and Tuples**

In [ ]:
#List
mylist=[ "Cricket", "Football" ,  "Boxing"]
mylist1=[100,550,0, True ,"Data"]
print(mylist)
print(mylist1)

['Cricket', 'Football', 'Boxing']
[100, 550, 0, True, 'Data']

In [ ]:
# Update
mylist=False
print(mylist)

False

In [ ]:
# Append
mylist .append ("Access")
mylist1. append(300)
print(mylist)
print(mylist1)

['Cricket', 'Football', 'Boxing', 'Access', 'Access']
[100, 550, 0, True, 'Data', 300]

In [ ]:
#Insert
mylist.insert (200,456)
mylist1. insert(50, 60)
print(mylist)
print(mylist1)

['Cricket', 'Football', 'Boxing', 'Access', 'Access', 456]
[100, 550, 0, True, 'Data', 300, 456, 60]

In [ ]:
#Delete
del mylist[3]
del mylist1[4]
print(mylist)
print(mylist1)

['Cricket', 'Football', 'Boxing']
[100, 550, 0, True, 456, 60]

In [ ]:
#Remove
mylist.remove("Boxing")
mylist1.remove(0)
print(mylist)
print(mylist1)

['Cricket', 'Football']
[100, 550, True, 456, 60]

In [ ]:
#Indexing
mylist=("Cricket", "Football" ,  "Boxing")
mylist1=(100,550,0,True,"Data")
print(mylist[2])
print(mylist1[4])

Boxing
Data

In [ ]:
#Dictionary
Dict ={
           "brand": "Ferrari",
      "model" : "Spider",
      "year" : 1970
}
print(Dict)

{'brand': 'Ferrari', 'model': 'Spider', 'year': 1970}

In [ ]:
#Update
Dict ["year"]=2000
print(Dict)

{'brand': 'Ferrari', 'model': 'Spider', 'year': 2000}

In [ ]:
#Delete
del Dict["model"]
print(Dict)

{'brand': 'Ferrari', 'year': 2000}

In [ ]:
#Tuple
tuple=("year" , "week", "Days" ,"Month")
tuple1=(2 , 4 , 6 , 8, 0)
print(tuple)
print(tuple[2])
print(tuple1[4])
print(len(tuple))
print(len(tuple1))

('year', 'week', 'Days', 'Month')
Days
0
4
5

 **2. Negative Slicing**

In [1]:
#Slicing
a=("analytical" ,"data" , "d" , "e" , "f")
x=slice(3 , 4)
print(a[x])
print(a[0:4])
print(a[0:50])
print(a[-2])

('e',)
('analytical', 'data', 'd', 'e')
('analytical', 'data', 'd', 'e', 'f')
e

**3.Frozen Set**

In [3]:
#Frozenset
set1={"OS" , "DBMS " , "SQL"}
set2={0, True, "Data"}
set3=set1.intersection(set2)
print(set3)

set()

In [6]:
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])
print(A.intersection(B))
print(A.union(B))
print(A.difference(B))

frozenset({3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({1, 2})